h1{
    text-align: center;
    color: darkblue;
    padding: 20px;
    background-color: palegoldenrod;
}
h3{
    text-align: center;
}
p{
    text-align: center;
    color: #ac1271;
}
.function{
    color: #2525c2;
}