/* Attempt to reproduce functions with grid style */
body{
    color: #690437;
    font-family: Calibri;
    text-align: center;
    }
#content{
    display: grid;
    /* #9 grid areas code */
    grid-template-columns: repeat(12, 1fr); 
    grid-auto-rows: minmax(100px, auto);
    
    max-width: 100%;
    margin: 5px auto;
    gap: 10px;
    position: relative;     /*code to help p positions in toggle grid */
    }
    
#content > *{ 
    border-radius: 25px;
    border: 2px solid #690437;
    /* background: #f5dfe4; */
    padding: 15px;
    }

header{
    grid-column: 1/13;
}
defs{
    grid-column: 1/7;
}
params{
    grid-column: 7/13;
}
invok{
    grid-column: 1/7;
}
call{
    grid-column: 7/13;
}
apply{
    grid-column: 1/7;
}
close{
    grid-column: 7/13;
}
footer{
    grid-column: 1/13;
}
#grid{
    display: grid;
    position: absolute;
    top: 0;
    left: 0;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: minmax(100px, auto);
    width: 100%;
    height: 100%;
    background: transparent;
    padding: 0;
    display: none;
}
#grid p{
    border-style: solid;
    background: lightgray;
    margin: 0;
    opacity: 0.3;
}
input:checked + #content #grid{
    display: grid;
}    